@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
background: linear-gradient(225deg, #2e2e2e, #373737);
box-shadow:  -20px 20px 61px #2b2b2b,
             20px -20px 61px #3b3b3b;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: $white-color;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;
  font: {
    size: 20px;
  }
  .btn-txt {
    z-index: 1;
    letter-spacing: 1px;
  }
  &.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  &:hover {
    box-shadow: 1px 1px 200px $red-color;
    color: #fff;
    border: none;
  }
  &.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }
}
.ingrediants{
  li {
    @include mobile{
    font-size: 17px;
    };
    font-size: 20px;
    margin-bottom: 10px;
  }
} 